:root {
  --textstrong: rgba(40, 40, 40, 1);
  --textmedium: rgba(120, 120, 120, 1);
  --textdisabled: rgba(180, 180, 180, 1);
  --textwhite: rgba(255, 255, 255, 1);
  --textyellow: rgba(112, 97, 51, 1);
  --textgreen: rgba(1, 173, 80, 1);
  --textyellow-medium: rgba(255, 165, 48, 1);
  --buttonblue: rgba(0, 100, 255, 1);
  --buttonyellow: rgba(255, 219, 85, 1);
  --buttonred: rgba(255, 59, 48, 1);
  --buttongreen: rgba(12, 216, 94, 1);
  --buttondisabled: rgba(233, 233, 233, 1);
  --backgrounddefault: rgba(245, 245, 250, 1);
  --backgroundgreen: rgba(223, 255, 226, 1);
  --backgroundred: rgba(255, 226, 224, 1);
  --backgroundyellow: rgba(255, 244, 204, 1);
  --backgroundblue: rgba(0, 90, 190, 1);
  --backgroundblue-light: rgba(236, 243, 255, 1);
  --borderdefault: rgba(180, 180, 180, 1);
  --ENG-p-medium-font-family: "Inter-Medium", Helvetica;
  --ENG-p-medium-font-weight: 500;
  --ENG-p-medium-font-size: 14px;
  --ENG-p-medium-letter-spacing: 0px;
  --ENG-p-medium-line-height: 20px;
  --ENG-p-medium-font-style: normal;
  --ENG-body-small-semibold-font-family: "Inter-SemiBold", Helvetica;
  --ENG-body-small-semibold-font-weight: 600;
  --ENG-body-small-semibold-font-size: 12px;
  --ENG-body-small-semibold-letter-spacing: 0px;
  --ENG-body-small-semibold-line-height: 16px;
  --ENG-body-small-semibold-font-style: normal;
  --drop-shadow: 0px -1px 10px 0px rgba(0, 100, 255, 0.1);
}
