<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link rel="stylesheet" th:href="@{/css/globals.css}" />
    <link rel="stylesheet" th:href="@{/css/styleguide.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div class="hello-world">
      <div class="frame">
        <img class="logo" th:src="@{/img/hello-world.png}" alt=""/>
      </div>
    </div>
  </body>
</html>
